<html>
    <head>
        <title>Welcome to No Trump</title>
        <style type=text/css>
            .spades{
                color:Black;
                font-size:25px;
                display: inline-block;
            }
            .clubs{
                color:Black;
                font-size:25px;
            }
            .diams{
                color:Red;
                font-size:25px;
            }
            .hearts{
                color:Red;
                font-size:25px;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <div>
            No trump:
            <a href="{{ url_for('ui_blueprint.index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('state_blueprint.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('state_blueprint.logout') }}">Logout</a>
            {% endif %}
            {% if current_user.userId %}
                name: {{current_user.userId}}
            {% endif %}
            {% if roomId %}
                <a href="{{ url_for('ui_blueprint.game_statistics',roomId=roomId) }}">Scores</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
