{% extends "base.html" %}

{% block content %}
    <h1>Join a room</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.roomId.label }}<br>
            {{ form.roomId(size=32) }}<br>
            {% for error in form.roomId.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.roomCode.label }}<br>
            {{ form.roomCode(size=32) }}<br>
            {% for error in form.roomCode.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
