{% extends "base.html" %}

{% block content %}
    <h1>Game started</h1>

    {% if isCurrentPlayer %}
        {% for i,card in cards.items() %}
        <a href="/{{roomId}}/play/{{i}}">
        <div class="card1">
            <span class="rank">{{card[1]}}</span>
            <span class="suit">&{{card[0]}};</span>
        </div>
        </a>
        {% endfor %}
    {% else %}
        {% for i,card in cards.items() %}
        <div class="card">
            <span class="rank">{{card[1]}}</span>
            <span class="suit">&{{card[0]}};</span>
        </div>
        {% endfor %}
    {% endif %}
    {% if gameType %}
        <h2>Game type is: {{gameType}}</h2>
        <script>
            window.onload = function() {
                var sec = 5;
                x= setInterval(function() {
                    sec--;
                    if (sec < 0){
                        clearInterval(x);
                        window.location = '/{{roomId}}/play';
                    }
                }, 1000);

            }
        </script>
    {% else %}
        {% if gameSelector %}
            <form method="post">
                <fieldset>
                    <legend>Select game type</legend>
                    {% for gameTypeId,gameTypeName in gameTypes.items() %}
                    <span><input type="radio" name="gameType" value={{gameTypeId}}>{{gameTypeName}}</span>
                    <br />
                    {% endfor %}
                    <span><input type="radio" name="gameType" value="pass">Pass</span>
                    <br />
                    <button>Submit</button>
                </fieldset>
            </form>
        {% else %}
        <h2>Game type is not selected yet</h2>
        {% endif %}

    {% endif %}
    {% if currentBufferCards %}
        <fieldset>
        {% for userId,card in currentBufferCards.items() %}
            <div class="userId" style='float:left; width:10%'>
                {{userId}}
            </div>
            <div class="card" style='float:right; width:90%'>
                <span class="rank">{{card[1]}}</span>
                <span class="suit">&{{card[0]}};</span>
            </div>
        <br />
        {% endfor %}
        </fieldset>
    {% endif %}
    <br />
    {% if pointsTable %}
        <h3>Points Table</h3>
        {% for userId,point in pointsTable.items() %}
            {{userId}} - {{point}}
        <br />
        {% endfor %}
    {% endif %}

{% endblock %}
