{% extends "base.html" %}

{% block content %}
    <h1>Game started</h1>
    {% if isCurrentPlayer %}
        {% for cardSuit,cardranks in cards.items() %}
        {% for cardRank in cardranks %}
        <a href="/{{roomId}}/play/{{cardSuit}}{{cardRank}}">
        <div class="card">
            <span class="rank">{{cardRank}}</span>
            <span class="suit">&{{cardSuit}};</span>
        </div>
        </a>
        {% endfor %}
        {% endfor %}
    {% else %}
        {% for cardSuit,cardranks in cards.items() %}
        {% for cardRank in cardranks %}
        <div class="card">
            <span class="rank">{{cardRank}}</span>
            <span class="suit">&{{cardSuit}};</span>
        </div>
        {% endfor %}
        {% endfor %}
    {% endif %}
    <fieldset>
        a
    </fieldset>
{% endblock %}
